:root,
* {
  --grey: hsl(208, 11%, 55%);
  --grey-1: #ffffff;
  --grey-2: #e9e9e9;
  --grey-3: #cccaca;
  --grey-4: #767373;
  --grey-5: #3d3d3d;
  --grey-6: hsl(192, 100%, 9%);
  --pink: hsl(322, 100%, 66%);
  --trans: all 400ms;
  --bx-sh: 0 0 20px rgba(0, 0, 0, 0.179);
  --bx-sh-card: 0 0 20px rgba(0, 0, 0, 0.085);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.u-main .u-container h2 {
  color: var(--grey-6);
  font-size: 2.4rem;
  font-family: "poppins", sans-serif;
}

.u-main .u-container .u-header {
  font-family: "poppins", sans-serif;
  background: url(assets/bg-hero-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.u-main .u-container .u-header .u-header-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 5rem;
  background: rgba(197, 241, 252, 0.293);
  transition: var(--trans);
}

.u-main .u-container .u-header .u-header-content .u-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--trans);
  margin-bottom: 4rem;
}

.u-main .u-container .u-header .u-header-content .u-first img {
  width: 150px;
  height: 25px;
}

@media (max-width: 580px) {
  .u-main .u-container .u-header .u-header-content .u-first img {
    width: 120px;
    height: 20px;
  }
}

.u-main .u-container .u-header .u-header-content .u-first button {
  color: var(--grey-6);
  background: var(--grey-1);
  border: none;
  box-shadow: var(--bx-sh);
  padding: 1rem 4rem;
  border-radius: 30px;
  font: 700 18px open sans;
  transition: var(--trans);
  cursor: pointer;
}

@media (max-width: 580px) {
  .u-main .u-container .u-header .u-header-content .u-first button {
    padding: 10px !important;
    font-size: 12px;
  }
}

.u-main .u-container .u-header .u-header-content .u-second .click-try-it {
  display: flex;
  justify-content: space-between;
  transition: var(--trans);
}

.u-main .u-container .u-header .u-header-content .u-second .click-try-it .u-section {
  margin-top: 7%;
  padding-right: 10%;
  transition: var(--trans);
  animation: fadein 1s ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
  }
}

.u-main
  .u-container
  .u-header
  .u-header-content
  .u-second
  .click-try-it
  .u-section
  p {
  font: 400 18px open sans;
  color: var(--grey-6);
  margin: 2rem 0;
}

@media (max-width: 1170px) {
  .u-main
    .u-container
    .u-header
    .u-header-content
    .u-second
    .click-try-it
    .u-section {
    padding-right: 5%;
    margin-top: 5%;
  }

  .u-main
    .u-container
    .u-header
    .u-header-content
    .u-second
    .click-try-it
    .u-section
    h2 {
    font-size: 1.8rem;
  }
}

.u-main .u-container .u-header .u-header-content .u-second .click-try-it img {
  width: 50%;
  animation: fadeup 1s 1s ease forwards;
  opacity: 0;
}

@keyframes fadeup {
  0% {
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 937px) {
  .u-main .u-container .u-header .u-header-content .u-second .click-try-it {
    transition: var(--trans);
  }

  .u-main
    .u-container
    .u-header
    .u-header-content
    .u-second
    .click-try-it
    .u-section
    h2 {
    font-size: 1.5rem;
  }

  .u-main
    .u-container
    .u-header
    .u-header-content
    .u-second
    .click-try-it
    .u-section
    p {
    font-size: 15px;
  }

  .u-main
    .u-container
    .u-header
    .u-header-content
    .u-second
    .click-try-it
    .u-section
    button {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1235px) {
  .u-main .u-container .u-header .u-header-content {
    padding: 2rem 3rem;
  }
}

@media (max-width: 800px) {
  .u-main .u-container .u-header .u-header-content .click-try-it {
    transition: var(--trans);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .u-main .u-container .u-header .u-header-content .click-try-it .u-section {
    padding-right: 0 !important;
    margin: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .u-main .u-container .u-header .u-header-content .click-try-it .u-section button {
    margin: 0 20%;
  }

  .u-main .u-container .u-header .u-header-content .click-try-it .u-section p {
    font-size: 2rem;
  }

  .u-main .u-container .u-header .u-header-content .click-try-it img {
    width: 100% !important;
  }
}

@media (max-width: 580px) {
  .u-main .u-container .u-header .u-header-content {
    padding: 1.3rem;
  }
  .u-main .u-container .u-header {
    background: url(assets/bg-hero-mobile.svg);
  }

  .u-main .u-container .u-header .u-header-content .u-section button {
    padding: 10px !important;
    margin: 0 10% !important;
  }
}

.u-main .u-container .u-btn-pink {
  color: var(--grey-1);
  background: var(--pink);
  border: none;
  box-shadow: var(--bx-sh);
  padding: 1rem 4rem;
  border-radius: 30px;
  font: 700 18px open sans;
  transition: var(--trans);
  overflow: hidden;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.u-main .u-content {
  padding: 3rem 10rem;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: var(--trans);
}

.u-main .u-content .poster .card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--grey-6);
  box-shadow: var(--bx-sh-card);
  padding: 20px;
  margin-bottom: 4rem;
  border-radius: 30px;
  transition: var(--trans);
  animation: fadeup 1s 1s ease forwards;
  opacity: 0;
}

@keyframes fadeup {
  0% {
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
  }
}

.u-main .u-content .poster .card:nth-child(2) {
  animation-delay: 1.5s;
}

.u-main .u-content .poster .card:nth-child(3) {
  animation-delay: 2s;
}

.u-main .u-content .poster .card .u-letters {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--trans);
}

.u-main .u-content .poster .card .u-letters h2 {
  font: 600 1.3rem poppins;
  margin-bottom: 1rem;
}

.u-main .u-content .poster .card .u-letters p {
  color: var(--grey);
  font: 400 18px open sans;
}

.u-main .u-content .poster .card .picture-fix img {
  width: 50%;
}

.u-main .u-content .poster .card .left-img {
  width: 100%;
  text-align: right;
}

.u-main .u-content .poster .card .left-img img {
  width: 50%;
}

@media (max-width: 1075px) {
  .u-main .u-content .poster .card .u-letters {
    width: 100%;
  }
}

@media (max-width: 866px) {
  .u-main .u-content .poster .card .u-letters h2 {
    font-size: 1rem;
  }

  .u-main .u-content .poster .card .u-letters p {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .u-main .u-content .poster .card {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .u-main .u-content .poster .card .u-letters {
    margin-top: 4rem;
    text-align: center;
  }

  .u-main .u-content .poster .card .u-letters h2 {
    font-size: 1.7rem;
  }

  .u-main .u-content .poster .card .u-letters p {
    font-size: 18px;
  }

  .u-main .u-content .poster .card .picture-fix {
    display: flex;
    justify-content: center;
  }

  .u-main .u-content .poster .card-2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1234px) {
  .u-main .u-content {
    padding: 3rem 5rem;
  }
}

@media (max-width: 800px) {
  .u-main .u-content {
    padding: 3rem 2rem;
  }
}

.u-main .u-footer {
  background: var(--grey-6);
  margin-top: 17rem;
  padding: 4rem 0;
}

.u-main .u-footer .card {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.u-main .u-footer .card .spill {
  border-radius: 20px;
  background: var(--grey-1);
  width: 50%;
  position: absolute;
  bottom: -20px;
  padding: 3rem 0;
  transition: var(--trans);
}

.u-main .u-footer .card .spill h2 {
  margin: 1.3rem 0;
  font-weight: 600;
  font-size: 1.7rem;
}

.u-main .u-footer .card .spill button {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .u-main .u-footer .card .spill {
    width: 60%;
  }
}

.u-main .u-footer .poster-footer {
  position: relative;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  color: var(--grey-2);
}

.u-main .u-footer .poster-footer .item {
  position: relative;
  font: 400 13px open sans;
}

.u-main .u-footer .poster-footer .item a {
  color: var(--grey-2);
}

.u-main .u-footer .poster-footer .item:nth-child(1) {
  width: 300px;
}

.u-main .u-footer .poster-footer .item:nth-child(1) img {
  height: 35px;
  margin-bottom: 2rem;
  position: relative;
  left: -27px;
}

.u-main .u-footer .poster-footer .item:nth-child(1) .symbol {
  position: absolute;
  left: -27px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-1);
}

.u-main .u-footer .poster-footer .item:nth-child(1) p {
  margin-bottom: 1rem;
}

.u-main .u-footer .poster-footer .item:nth-child(2) ul,
.u-main .u-footer .poster-footer .item:nth-child(3) ul {
  margin-top: 2rem;
  font: 400 14px open sans;
}

.u-main .u-footer .poster-footer .item:nth-child(2) li,
.u-main .u-footer .poster-footer .item:nth-child(3) li {
  padding-bottom: 1rem;
}

.u-main .u-footer .poster-footer .item:nth-child(2) li:hover,
.u-main .u-footer .poster-footer .item:nth-child(3) li:hover {
  text-decoration: underline;
}

.u-main .u-footer .poster-footer .item:last-child ul {
  display: inline-flex;
  transform: translateY(-25px);
}

.u-main .u-footer .poster-footer .item:last-child ul li {
  transition: var(--trans);
  color: var(--grey-1);
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  position: relative;
}

.u-main .u-footer .poster-footer .item:last-child ul li:hover,
.u-main .u-footer .poster-footer .item:last-child ul li:active {
  color: var(--pink);
  border: 1px solid var(--pink);
}

.u-main .u-footer .copyright {
  width: 100%;
  margin-top: 4rem;
}

.u-main .u-footer .copyright .u-alphabets {
  text-align: right;
  font: 400 14px poppins;
  color: var(--grey-2);
  transition: var(--trans);
}

.u-main .u-footer .copyright .u-alphabets p {
  padding-right: 2rem;
}

@media (max-width: 1000px) {
  .u-main .u-footer .copyright .u-alphabets p {
    font-size: 12px;
  }


.u-main .u-footer ul li {
  cursor: pointer;
}

@media (max-width: 600px) {
  .u-main .u-footer .card .spill {
    width: 93%;
  }

  .u-main .u-footer .card .spill h2 {
    font-size: 1.3rem;
  }

  .u-main .u-footer .card .spill button {
    font-size: 1rem;
  }

  .u-main .u-footer .poster-footer {
    place-items: start;
    grid-template-columns: auto;
    padding-left: 2rem;
  }

  .u-main .u-footer .poster-footer .item:first-child {
    margin-left: 2rem;
    padding-right: 40px;
  }

  .u-main .u-footer .poster-footer .item:last-child {
    margin-top: 2rem;
    width: 100%;
  }

  .u-main .u-footer .poster-footer .item:last-child ul {
    display: flex;
    justify-content: center;
  }

  .u-main .u-footer .copyright {
    margin-top: 10px !important;
  }

  .u-main .u-footer .copyright .u-alphabets {
    text-align: center;
  }
}

.u-main button:hover,
.u-main button:active {
  opacity: 0.6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-6);
  border-radius: 9px;
}
.bigfoot{
  text-align: center;
}
