@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
	box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

/* Typography */

h2{
    font-size: 1.3em;
}
p{
    font-size: 1em;
}
img{
    width: 300px;
}

a{
    text-decoration: none
}

/* Layout */
.navbar{
    background-color: hsl(193, 100%, 96%);
}

.navbar-wrap{
    display:flex;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(193, 100%, 96%);
    padding: 1.5em;
    margin: 0;
}
.navbar img{
    width: 120px;
    cursor: pointer;
}

.navbar a{
    padding: 0.5em 1.3em;
    border-radius: 30px;
    background-color:#fff;
    color: hsl(208, 11%, 55%);
}

.navbar a:hover{
    color: hsl(209, 17%, 73%);
    transition: 1s ease-in-out;
}

.intro-container{
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: cover;
    background-color: hsl(193, 100%, 96%);
}
.wrap{
    color: hsl(192, 100%, 9%);
    margin: 0;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.intro-desc{
    margin-bottom: 3.5em;
}

.intro-desc p{
    margin-bottom: 2.5em;
}

.intro-container a,
.ready-container a{
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    padding: 0.5em 1.5em;
    border-radius: 30px;
    transition: 1s ease-in-out;
}

.intro-container a:hover,
.ready-container a:hover{
    background-color: hsl(322, 86%, 75%);
    transition: 1s ease-in-out;
}

/* Grow Section Design*/
/* Coversation section Design*/
/* User section Design */
.grow-container,
.conversation-container,
.user-container{
    width:300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-top: 2.5em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: hsl(192, 100%, 9%);
}

.user-container{
    margin-bottom: 13.5em;
    /* padding-bottom: 3.5em; */
}

.grow-container img,
.conversation-container img,
.user-container img{
    width:200px;
}
.grow-desc,
.user-desc{
    order: 1
}

.grow-desc h2,
.conversation-desc h2,
.user-desc h2,
.ready-container h2{
    font-size: 1em;
}
.grow-desc p,
.conversation-desc p,
.user-desc p{
    width: 100%;
    margin: 0 auto;
    padding: 0.9em;
    font-size: 0.7em;
    line-height: 1.8em
    /* font-weight: bold; */
}

/* Ready section design */

.container{
    position: absolute;
    margin-bottom: 5.5em;
}

.ready-container{
    width:300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 10.5em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: hsl(192, 100%, 9%);
    background-color: #fff;
    position: absolute;
    top: 103em;
    left: 2.2em;
}

/* footer section Design*/
.footer-container{
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding-top: 5.5em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    z-index: -1
}

.huddle{
    font-size: 1.5em;
    font-weight: bold;
    display:block
}
.huddle span,
.location span,
.phone span,
.email span{
    padding-left: 0.4em;
}

.location{
    margin: 0.3em 0;
}
.location span,
.phone span,
.email span,
footer p{
    font-size: 0.8em;
}

.footer-log{
    color: #fff;
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
    font-size: 0.8em;
}

.social {
    width: 200px;
    margin: 0 auto;
    margin-top: 3.5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.social i{
    border: 1px solid #fff;
    padding: 0.5em;
    border-radius: 20px;
    cursor: pointer;
}

footer p{
    text-align: center;
}

/* media queries  section */

@media screen and (min-width: 600px){
    /* body{
        background-color: red;
    } */
    .navbar-wrap{
        width: 80%;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        font-family: 'Lexend Deca', sans-serif;
        background-color: hsl(193, 100%, 96%);
        padding: 1.5em;
    }
    .intro-container{
        background-image: url(/images/bg-hero-desktop.svg);
    }
    .intro-image img{
        width: 400px;
    }

    .wrap{
        width: 80%;
        margin: 0 auto;
        padding-top: 3.5em;
        text-align: left;
        flex-direction: row;
    }


    .intro-desc{
        padding-right: 1.5em;
    }
    .grow-container,
    .conversation-container,
    .user-container{
        width:80%;
        margin: 0 auto;
        margin-top: 1.5em;
        flex-direction: row;
        text-align: left;
    }

    .grow-desc,
    .user-desc{
        order: -1
    }

    .conversation-desc,
    .user-desc,
    .grow-desc{
        width: 60%;
        padding: 1.5em;
    }

    .user-container{
        margin-bottom: 13.5em;
    }

    .grow-desc h2,
    .conversation-desc h2,
    .user-desc h2,
    .ready-container h2{
        margin-left: 0.6em;
    }
    .grow-desc p,
    .conversation-desc p,
    .user-desc p{
        font-size: 0.9em;
        margin: 0;
        /* font-weight: bold; */
    }

    .grow-container img,
    .conversation-container img,
    .user-container img{
        width:300px;
    }

    .ready-container{
        width:50%;
        margin: 0 auto;
        padding: 2.5em 3.5em;
        margin-top: -15.5em;
        text-align: center;
        top: 100em;
        left: 15.2em;
    }
    .contact-container{
        width: 80%;
        margin: 0 auto;
        margin-top: 5.5em;
        display: flex;
        justify-content:space-between;
    }
    .contacts{
        margin-right: 1.5em;
    }
    .links{
        width: 30%;
        display: flex;
        justify-content:space-between;
    }
    .location{
        width: 300px;
    }

    .social{
        display: block;
    }

    .footer-container p{
        text-align: right;
        margin-right: 7.5em;
    }
}

@media screen and (min-width: 500px){

}